<h1> i. Если вы являетесь Поставщиком технологий, вы должны соблюдать другие положения настоящих Условий, а также положения этого раздела в отношении использования вами Платформы и Обработки Данных платформы в качестве Поставщика технологий. В случае противоречия условий преимущественную силу будут иметь те, которые больше ограничивают вас или в большей степени защищают нас.

ii. Вы как Поставщик технологий понимаете и принимаете следующее:

1. Вы будете использовать Платформу и Обрабатывать Данные платформы только от имени и по указанию вашего Клиента, от имени которого вы получаете к ним доступ, чтобы помочь такому Клиенту использовать Платформу или Обрабатывать Данные платформы в соответствии с настоящими Условиями и всеми другими применимыми условиями и правилами ("Цель клиента"), а не для ваших собственных целей или для целей другого Клиента или юридического лица (например, вы не будете Обрабатывать Данные платформы для создания или дополнения пользовательских профилей для ваших собственных целей или целей другого Клиента).

2. Вы гарантируете, что Данные платформы, которые вы храните от имени одного Клиента, будут храниться отдельно от данных других Клиентов.

3. Вы будете хранить актуальный список своих Клиентов с их контактной информацией и предоставлять его нам по запросу.

4. Вы будете делиться Данными платформы только в соответствии с настоящими Условиями, в том числе положениями Разделов 3a ("Запрещенные действия"), 3b ("Дополнительные условия использования Данных платформы с ограниченным доступом") и 5a ("Поставщики услуг"), применимыми законами и нормативными правовыми актами, а также в соответствии со всеми другими применимыми условиями и правилами и только в приведенных ниже случаях:

a. с вашим соответствующим Клиентом, если вы сначала на договорной основе запретите такому Клиенту Обрабатывать Данные платформы таким образом, чтобы это нарушало настоящие Условия или любые другие применимые условия или правила;

b. если того требуют применимые законы или нормативные правовые акты (вы обязаны сохранить доказательство подобного требования или запроса и предоставить его нам по запросу);

c. с вашим Поставщиком услуг исключительно в той мере, в которой это необходимо для Цели вашего Клиента; или

d. с поставщиком услуг вашего Клиента исключительно в той мере, в которой это необходимо для Цели клиента, и если такой Клиент напрямую предписывает вам делиться данными с поставщиком услуг (в этом случае вы обязаны сохранить доказательство такого прямого предписания Клиента и предоставить его нам по запросу).</h1>